.profile
{
display:grid;
place-items: center;
}
body{
    background-image:url(../image.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color:rgba(255, 255, 255, 0.776) !important;
}